body{
    text-align: center;
}
button{
    width: 70px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    background-color: black;
    color: red;
}
.asd{
    display: flex;
    justify-items: flex-start;
    background-color: green;
    padding: 16px 32px;
    margin: 4em 4em 4em 0;
    width: auto;
    font-size: 16px;
    font-weight: bold;
}
p{
    font-size: 25px;
}
#rolling{
    font-weight: bold;
}